.footer {
    width: 100%;
    height: 35px;
    position: absolute;
    bottom:0;
    background-color: red;
    color: white;
    z-index: 100;
}

.stats-wrapper {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.stats-container {
    display:flex;
    flex-direction:column;
    width:50%;
    min-width:280px;
}

.stats-container > .stats-value {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
}

.stats-container > .stats-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}
